:root {
    --primary-color: #07141a;
    --primary-color-dimmed: #172227;
    --accent-color: #87f414;
    --accent-2-color: #f56e0f;
    --accent-2-dimmed: rgba(245, 111, 15, 0.5);
    --text-white: #f0fffa;
}

body {
    font-family: 'Montserrat', sans-serif, 'Roboto';
    background: var(--text-white);
    box-sizing: border-box;
    max-width: 280px;
    min-width: 280px;
    overflow-y: hidden;
}

#context-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--primary-color-dimmed);
    justify-content: center;
    width: 70px;
    transform: scale(0);
    transform-origin: top left;
    position: absolute;
    z-index: 20;
    border: 1px solid var(--primary-color);
}

#context-menu.active {
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

#context-menu>button {
    appearance: none;
    background: transparent;
    border: none;
    font-size: 10pt;
    margin: 2px;
    color: var(--text-white);
    padding: 4px 3px;
    width: 100%;
    cursor: pointer;
}

#context-menu>button:hover {
    background: var(--primary-color);
    color: var(--accent-color);
}

.fixed {
    background: var(--text-white);
    padding: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    margin-bottom: 8px;
}

/*color picker*/
#tab-box {
    display: flex;
    margin-top: 8px;
}

.tab-btn {
    width: 60px;
    color: var(--text-white);
    background: var(--primary-color);
    height: 24px;
    font-size: 10pt;
    text-align: center;
    align-content: center;
    font-weight: 600;
    cursor: pointer;
}

.tab-btn:hover {
    color: var(--accent-color);
}

.tab-btn.active {
    border-radius: 0 10px 0 0;
    color: var(--accent-2-color);
    background: var(--primary-color-dimmed);
    position: relative;
}

.tab-btn.active::after {
    content: '';
    width: 18px;
    height: 18px;
    background-color: transparent;
    position: absolute;
    right: -18px;
    bottom: 0;
    border-radius: 50%;
    box-shadow: -9px 9px var(--primary-color-dimmed);
}

/*tab content*/
.picker {
    background: var(--primary-color);
    color: var(--text-white);
    border-radius: 0 12px 12px 12px;
    padding: 8px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.picker.active {
    display: flex;
    background: var(--primary-color-dimmed);
}

.slider {
    display: grid;
    grid-template-columns: 10% 70% 20%;
    column-gap: 4px;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 16px);
}

/*rgb sliders*/
input[type='range'] {
    appearance: none;
    height: 20px;
    border: 1px solid var(--primary-color);
    cursor: ew-resize;
}

input[type='range']::-webkit-slider-thumb {
    appearance: none;
    width: 5px;
    height: 20px;
    background-color: var(--accent-2-color);
    border: 1px solid black;
}

/*hsv hsl sliders*/
#hsv-hue,
#hsl-hue {
    background-image: linear-gradient(to right, red, yellow, lime, cyan, blue, purple, red);
}

input[type='number'] {
    appearance: none;
    height: 20px;
    border: 1px solid black;
    padding: 0;
    padding-left: 8px;

}

/*color display*/
.color-area {
    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-between;
    margin-top: 8px;

}

#color-display {
    min-width: 50px;
    min-height: 50px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
}

#hex-alpha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

#hex-input {
    appearance: none;
    border: 1px solid var(--primary-color);
    height: 20px;
}

#hex-input.error {
    border-color: red !important;
    animation: shake 0.3s ease;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

.alpha-slider {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.alpha-slider>input[type='number'] {
    width: 40px;

}

/*theme boxes*/
.save-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 4px;
    width: 100%;
    gap: 8px;
}

.save-buttons>button {
    appearance: none;
    height: 32px;
    display: flex;
    align-items: center;
    gap: 4px;
    border: 1px solid var(--primary-color);
    background: var(--accent-2-dimmed);
    font-weight: 600;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease-in-out;
    overflow: hidden;
}

.ripple {
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: ripple 0.8s linear infinite;
    z-index: 200;
}

@keyframes ripple {
    0% {
        width: 0;
        height: 0;
        opacity: 0.7;
    }

    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
        background: var(--accent-color);
    }
}

.save-buttons>button:hover {
    background: var(--accent-2-color);
}

.save-buttons span {
    background: url('../icons/download_f_r.svg');
    background-size: cover;
    width: 24px;
    height: 24px;
}

#theme {
    margin-top: 8px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 4px;

}

._theme-color {
    height: 50px;
    width: 100%;
    border: 1px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

._theme-color>span {
    font-size: 10pt;
    padding: 4px;
    width: 100%;
    background: #7a7a7a4f;
    text-align: center;
}

._theme-color.active {
    align-items: flex-start;
}

._theme-color.active>span::after {
    content: '';
    min-width: 16px;
    min-height: 16px;
    background: var(--accent-2-color);
    position: absolute;
    right: 0;
    top: 0;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
}

._theme-color.highlighted {
    overflow: hidden;
    background: var(--text-white);
    align-items: center;
}

._theme-color.highlighted::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(var(--accent-2-color), black,
            var(--accent-2-color), black,
            var(--accent-2-color), black,
            var(--accent-2-color), black,
            var(--accent-2-color), black,
            var(--accent-2-color), black);
    animation: rotate 4s infinite linear;
}

._theme-color.highlighted::before {
    z-index: 30;
    position: absolute;
    content: 'DROP';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10pt;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    top: 2px;
    background: white;
    color: black;
}

@keyframes rotate {
    100% {
        transform: rotate(-360deg);
    }
}

/*color boxes*/
.colors {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(34px, 1fr));
    gap: 8px;
}

.box {
    width: 40px;
    height: 40px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.box.active {
    border: 1px solid var(--accent-2-color);

}

.box.highlighted {
    position: relative;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 6px;
}

.box.highlighted::before {
    position: absolute;
    content: '';
    width: 200%;
    height: 200%;
    background-image: conic-gradient(var(--accent-2-color), black,
            var(--accent-2-color), black,
            var(--accent-2-color), black,
            var(--accent-2-color), black,
            var(--accent-2-color), black,
            var(--accent-2-color));
    animation: rotate 4s infinite linear;
}

.box.highlighted::after {
    content: '';
    position: absolute;
    width: calc(100% - 2px);
    height: calc((100% - 2px));
    background: var(--text-white);
    border-radius: 4px;
}

.text-black {
    color: black !important;
    font-weight: 600;
}

.text-white {
    color: white !important;
    font-weight: 600;
}
