:root{
    --primary-color: #07141a;
    --accent-color: #87f414;
    --accent-2-color: #f56e0f;
    --text-white: #
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    min-width: 250px;
    max-width: 250px;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.color-picker-module {
    margin-bottom: 20px; /* Space around the module */
}

.color-display {
    min-width: 64px; 
    min-height: 64px; 
    border: 1px solid #ccc; /* Border styling */
    margin-bottom: 10px; /* Space below the color display */
}
.input-box{
    display: flex;
    align-items: center;
}

label {
    display: flex; /* Make labels block elements */
    margin-bottom: 5px; /* Space below labels */
    align-items: center;
}

input[type='text'] {
    width: calc(100% - 10px); /* Full width minus padding */
    padding: 5px; /* Padding inside input */
    margin-bottom: 10px; /* Space below input */
}

input[type='range'] {
    width: 100%; /* Adjust width for space taken by label */
    margin-left: 5px; /* Add space between label and slider */
}

.font-selector-module {
    margin-top: 20px; /* Space above the font selector module */
}

.font-selector-module label {
    margin-bottom: 5px; /* Space below labels */
}

.theme-elements-module {
    margin-top: 20px; /* Space above the theme elements module */
}

.color-boxes {
    display: flex; /* Align boxes in a row */
    gap: 10px; /* Space between boxes */
}

.color-box {
    width: 20px; /* Width of each box */
    height: 20px; /* Height of each box */
    cursor: pointer; /* Change cursor to pointer on hover */
    border: 1px solid #ccc; /* Border styling */
}